@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,400;0,500;0,900;1,400&family=Poppins:wght@300;500;600;700&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-size: 2vmin;
}
.app{
    position: relative;
}
.hero_sec {
    position: relative;
    height: 100vh;

}
.design_social{
    background-color: #FE8400;
    width: 0.2vmin;
    height: 5vmin;
}
.hero_social_links ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FE8400;
    position: absolute;
    bottom: 30%;
    left: 1.5%;
    font-size: 2vmin;
}
.hero_social_links li{
    list-style-type: none;
    margin: 1vmin 0;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 4vmin;
    padding-top: 2vmin;
    align-items: center;
    font-weight: bold;
}

.logo_wrapper h1 {
    font-family: 'Anton', sans-serif;
    color: #FE8400;
    margin-left: 15vmin;
}

.navbar_wrapper {
    width: 100vmin;
     display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links li {
    display: inline;
    margin: 0 5px;
    /* display: inline-block;
    padding: 0 3vmin; */
}

.nav_links li a,
.navBtn_wrapper a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.navBtn_wrapper {
    background-color: #FE8400;
    display: flex;
    justify-content: center;
    padding: 1%;
    width: 20vmin;
    border-radius: 10px;

    /* display: flex;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #FE8400;
    margin-left: 3vmin;
    word-spacing: 2px;
    line-height: 2em; */
}
.navbar_wrapper aside{
    padding: 0 2px;
    font-weight: bolder;
    font-size: 15px;
}

.black_bg {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 45vw;
    min-width: 35vw;
    z-index: -1;
    background-color: black;
}

.hero_img {
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 75vw;
    min-width: 75vw;
    height: 75vh;
    border-radius: 5px;
}
.hero_text_wrapper{
    color: white;
    position: absolute;
    bottom: 25%;
    left: 5%;
    border-radius: 20px;
    background-color: rgba(89, 87, 86, 0.16);
}
.hero_text_wrapper h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 6.219178082191782vmin;
}
.hero_text_wrapper p{
    font-family: 'poppins', sans-serif;
    font-size: 3vmin;
    font-weight: lighter;
    margin-bottom: 5vh;
}
.explore_btn{
    background-color: #FE8400;
    border: none;
    font-size: 2vmin;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vmin;
    width: 25vmin;
    height: 6vmin;
}
/* about */
.about_wrapper, .booking_wrapper{
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
}
.about_header, .booking_header_wrapper, .ourservices_header_wrapper{
    display: flex;
    justify-content: center;
    margin: 3vmin;
    font-size: 5vmin;
}
.about_header p, .booking_header_wrapper p{
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 500;
    border-bottom: 2px solid #FE8400;
}
.about_img_txt{
   display: flex;
}
.about_article{
    font-family: 'poppins', sans-serif;
    margin-bottom: 4vmin;
    font-size: 2.5vmin;
}
.about_car{
    width: 55vmin;
    margin-right: 4vmin;
}
.read_me{
    color: #FE8400;
    font-family: 'poppins', sans-serif;
    width: 50vmin;
    font-size: 3vmin;
    font-weight: bold;
}
/* Book now form */
.booking_wrapper{
    width: 100%;
}
.booking_form_wrapper{
    background-color: #FFE4C6;
    display: flex;
    padding: 2rem 2rem;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'poppins', sans-serif;
    align-items: center;
    font-size: 3vmin;
}
.first_input_wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 1rem;
    align-items: center;
    gap: 5vmin;
}
.second_input_wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: flex-end;
    gap: 5vmin;
}
.pickup_location input, .pickup_date input, .return_date input, .return_date select {
    background-color: #ffffff;
    padding: 2vmin;
    border: none;
    outline-color: #FE8400;
}
.pickup_location , .pickup_date, .return_date , .pickup_location , .cartype, .pickup_time, .return_time {
 display: flex;
 flex-direction: column;
}
.booknow_btn button{
    background-color: #FE8400;
    border: none;
    font-family: 'poppins', sans-serif;
    width: 25vmin;
    padding: 0.3rem 0rem;
    border-radius: 2px;
}
/* Our service */
.ourservices_header_wrapper p{
        width: fit-content;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        font-weight: 500;
        border-bottom: 2px solid #FE8400;
}
.ourservices_main_wrapper{
    width: 70vw;
    color: #ffffff;
    display: flex;
    margin: auto;
    height: 70vh;
    flex-direction: column;
}
.ourservices_card_wrapper{
    display: flex;
    justify-content: center;
}
.ourservices_card1, .ourservices_card2, .ourservices_card3{
    margin: 0 1rem;
    color: #000000;
    border-radius: 2px;
    box-shadow: -0.5px 1px 7px -1px rgb(157, 154, 154);
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 30vmin;
    width: 50vmin;
    padding: 1rem;
}
.ourservices_wrapper{
    position: relative;
}
.ourservices_main_wrapper aside{
    font-family: 'poppins', sans-serif;
    font-size: 2vmin;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3vmin;
}
.premium_blackbg{
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    z-index: -1;
    background-color: #000000;
}
/* cards */
.inner_carcards_wrapper img{
    max-width: 40vmin;
}
.carCards_wrapper{
    border: 1px solid #dfd6d6;
    padding: 2vmin;
    width: fit-content;
}
.swiper-pagination-bullet-active {
    background-color: #FE8400 !important;
}
.featured_cars_header p{
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    font-weight: 500;
    border-bottom: 2px solid #FE8400;
}
.featuredcars_wrapper{
    display: flex;
    justify-content: center;
    margin: 3vmin;
    font-size: 5vmin;
}
.dailyrate_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.daily_rate_txt p,.daily_rate_txt h4{
    margin: 0;
}
.dailyrate_wrapper button{
    height: 5vmin;
    background-color: #FE8400;
    border: none;
    border-radius: 2px;
}
/* swiper */
.swiper_wrapper{
    position: relative;
}
.swiperfeatures{
    width: 70vw;
    height: 50vh;
}
.swiperreview{
    width: 90vmin;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
.review_wrapper_header{
    display: flex;
    justify-content: center;
}
.review_wrapper_header p{
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 500;
    border-bottom: 2px solid #FE8400;
    font-size: 5vmin;
}
.reviewCard_wrapper{
    border:1px #000000;
    padding: 5vmin;
    display: flex;
    height: 50vh;
    width: 35vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviewCard_wrapper h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 3vmin;
}
.reviewCard_wrapper article{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 2vmin;
    text-align: center;
}
svg{
    font-size: 10px ;
   width: 10px;
}
.swiper-nav-buttons{
    position: relative;
    position: absolute;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;

}
.fa-angle-right{
     color: #FE8400;
    font-size: 5vmin;
    cursor:pointer ;
}
.fa-angle-left{
    color: #FE8400;
    font-size: 5vmin;
    cursor:pointer ;
}
/* extrainfo_wrapper */
.extrainfo_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE4C6;
    margin-top: 5vh;
}
.extrainfo_wrapper h2{
    font-family: 'poppins', sans-serif;
    margin: 0;

}
.extrainfo_wrapper p{
    font-family: 'poppins', sans-serif;

    margin: 0;

}
.extrainfo_wrapper div{
    margin: 2vh 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactus_header_wrapper{
    display: flex;
    justify-content: center;
    margin: 3vmin;
    font-size: 5vmin;
}
.contactus_header_wrapper p{
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 500;
    border-bottom: 2px solid #FE8400;
}
.formImage_wrapper{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
    padding: 4vmin;
    background-color: #ffff;
    box-shadow: -0.5px 1px 7px -1px rgb(157, 154, 154);

}
.contact_form form{
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 100%;
}
.contact_form form input{
 height: 15%;
 margin-bottom: 1em;
 background-color: #f4f0f0;
 border: none;
 outline-color: #FE8400;
border: 1px solid #e4e3e3;
}
.contact_form form textarea{
 margin-bottom: 1em;
 background-color: #f4f0f0;
 border: none;
 outline-color: #FE8400;
 border: 1px solid #e4e3e3;
}
.contact_form form ::placeholder{
    font-size: small;
    font-family: 'Montserrat', sans-serif;
 font-weight: 500;
}
.contact_form button{
    width: 75%;
    background-color: #FE8400;
    border: none;
    font-family: 'poppins', sans-serif;
    padding: 1vmin 1vmin;
    border-radius: 2px;
}
.contact_img img{
    margin-left: 5vmin;
    width: 40vmin;

}
.contactus_wrapper{
    position: relative;
    height: 70vh;
}
.black_bg_contactus{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 59%;
    background-color: #000000;
    color: #e4e3e3;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
.black_bg_text{
    display: flex;
    align-items: center;

}
.black_bg_text aside{
    margin-left:4px ;
    color: #FE8400;
    font-family: 'poppins', sans-serif;

}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 15vmin;
    color: #FE8400;
    background-color: #000000;
    margin-top: 0.5vmin;
    font-family: 'Anton', sans-serif;
    font-size: 3vmin;
}
.fotter_social_links li{
    display: inline-block;
     color: #FE8400;
    padding-left: 4vmin;
}
.booknow_sec{
    position: fixed;
    top: 0;
    background-color: #e4e3e390;
    width: 100vw;
    margin: auto;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* For mobile devices */
/* For mobile devices */
/* For mobile devices */
/* For mobile devices */
/* For mobile devices */
/* For mobile devices */
@media screen and (max-width: 435px){
    .design_social{
        background-color: #FE8400;
        width: 0.2vmin;
        height: 5vmin;
    }
    .hero_sec {
        position: relative;
        height: 95vh;
    
    }
    .hero_social_links ul{
        bottom: 35vh;
        left: 10px;
        font-size: 5vmin;
    }

    /* Navbar */

    .logo_wrapper h1 {
        font-size: large;
    }

    .nav_links li {
        display: none;

    }
    .navBtn_wrapper {
        display: none;
    }

    .black_bg {
        width: 50vw;
        min-width: 35vw;
        height: 95vh;
    }

    .hero_img {
        bottom: 20vh;
        height: 15rem;
    }
    .hero_text_wrapper{
        top: 15vh;
        left: 15%;
        padding: 0%;
        height: fit-content;
        padding-bottom: 20px;
        padding-left: 5px;
    background-color: rgba(89, 87, 86, 0.315);
    z-index: 1;

    }
    .hero_text_wrapper h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 6.219178082191782vmin;
    }
    .hero_text_wrapper p{
        font-family: 'poppins', sans-serif;
        font-size: 3vmin;
        font-weight: lighter;
        margin-bottom: 3vh;
    }
    .explore_btn{
        background-color: #FE8400;
        border: none;
        font-size: 2vmin;
        font-family: 'Montserrat', sans-serif;
        font-size: 3vmin;
        width: 25vmin;
        height: 6vmin;
    }
    /* about */
    .about_wrapper, .booking_wrapper{
        width: fit-content;
        margin: auto;
        margin-bottom: 2rem;
    }
    .about_header, .booking_header_wrapper, .ourservices_header_wrapper{
        display: flex;
        justify-content: center;
        margin: 3vmin;
        font-size: 5vmin;
    }
    .about_header p, .booking_header_wrapper p{
        width: fit-content;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        font-weight: 500;
        border-bottom: 2px solid #FE8400;
    }
    .about_img_txt{
        width: 100vw;
        display: flex;
        /* min-width: fit-content;
        max-width: 90vw;
       display: flex;
       margin: 0 5%; */
    }
    .about_car{
        margin-left: 4vmin;
        width: 50vmin;
        margin-right: 3vmin;
    }
    .read_me{
        color: #FE8400;
        font-family: 'poppins', sans-serif;
        width: 30vmin;
        font-size: 3vmin;
        font-weight: bold;
    }
    /* Book now form */
    .booking_wrapper{
        width: 100vw;
    }
    .booking_form_wrapper{
        margin: 1rem 2rem;
    }
        .first_input_wrapper {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            align-items: flex-start;
    
        }
    
        .second_input_wrapper {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
    
        }
    .booknow_btn button{
        background-color: #FE8400;
        border: none;
        font-family: 'poppins', sans-serif;
        width: 25vmin;
        padding: 0.3rem 0rem;
        margin-left: 110%;
        border-radius: 2px;
    }
    /* Our service */
.ourservices_card_wrapper{
display: grid;
grid-template-columns: auto auto auto;
}
.ourservices_card1, .ourservices_card2, .ourservices_card3{
margin: 0 0.5rem;
color: #000000;
width: 20vmin;
padding: 1rem;
}
.premium_blackbg{
height: 60%;
}
/* cards */
.inner_carcards_wrapper img{
max-width: 25vmin;
}
.dailyrate_wrapper{
font-size: 1.7vw;
}
.dailyrate_wrapper button{
font-size: 1.7vw;
}
/* swiper */
.swiperfeatures{
height: 41vmin;
}
.ourservices_wrapper{
    height: 70vmin;
}
.swiperreview{
width: 90vmin;
}
.review_wrapper_header{
display: flex;
justify-content: center;
}

.reviewCard_wrapper{
height: 30vh;

}
.contactus_wrapper{
    height: 35vh;
}
.black_bg_contactus{
    height: 50%;
}



    
}